---
// Define props from Astro
const { title, subTitle, productsIcons} = Astro.props;


interface IProductsIcons {
  title?: string;
  imgUrl?: string;
  imgAlt?: string;
}

// Define TypeScript interface for props
interface Props {
  title?: string;
  subTitle?: string;
  productsIcons: IProductsIcons[];
}
---

<section class="mx-auto max-w-[85rem] 2xl:max-w-full  my-5 md:my-[6rem] bg-primary-500 py-12">
  <!-- Title and description -->
  <div class="mx-auto  flex w-full flex-col items-center text-center mb-20" >
    <h2
      class="text-balance text-2xl font-bold leading-tight text-pearl-100 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-pearl-100 mt-3">{subTitle}</p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 pb-4 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <div class="swiper swiperProducts w-full">
      <div class="swiper-wrapper">

        {
          productsIcons.map((product) => (
          <div class="swiper-slide">
            <div class="flex flex-col gap-4 items-center">
              <img
                class="aspect-[4/3] w-[100px] object-contain"
                src={product.imgUrl}
                alt={product.imgAlt}
              />
              <div>
                <h3 class="text-pearl-100 font-bold">{product.title}</h3>
              </div>
            </div>
          
          </div>
          ))
        }
        

      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
    <!-- Group SVGs -->
  </div>
</section>

<style>
  .swiper-pagination {
    position: relative !important;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center;
  }

  /* .swipe::after {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    background: linear-gradient(
      to right,
      #172c27 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  } */
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Pagination, Autoplay } from "swiper/modules";

  var swiper = new Swiper(".swiperProducts", {
    modules: [Pagination, Autoplay],
    spaceBetween: 40,
    grabCursor: true,
    freeMode: true,
    speed: 2000,
    loop: true,
    slidesPerView: "auto",
    autoplay: {
      delay: 0.5,
      disableOnInteraction: false,
    },
    breakpoints: {
        // Cuando la pantalla es >= 768px
        768: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        // Cuando la pantalla es >= 1024px
        1024: {
          slidesPerView: 6,
          spaceBetween: 40
        }
    },
  });

</script>
