---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesStats from "@components/sections/features/FeaturesStats.astro";

// Import necessary images
import { SITE } from "@data/constants";

interface aboutItem {
  id?: string;
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
  items?: string[];
}

const aboutItems: aboutItem[] = [
  {
    id: "mision",
    isRightSection: false,
    title: "Mission",
    subTitle:
      "Provide excellent service to all our clients, ensuring that their expectations are met and exceeded.",
    img: "/img/mission.jpg",
    imgAlt: "Narvis staff offering advice",
    btnExists: false,
  },
  {
    id: "vision",
    isRightSection: false,
    title: "Vision",
    subTitle:
      "To be a company recognized nationally and internationally for the excellent management of services and products that we provide to our clients, with responsibility and efficiency in each project.",
    img: "/img/vision.jpg",
    imgAlt: "Cargo of equipment for sale in Narvis arriving at the port",
    btnExists: false,
  },
  {
    isRightSection: true,
    title: "VALUES",
    subTitle:
      "Our team is made up of highly trained professionals who share our passion for their work. We work together to achieve excellence in everything we do, hand in hand with the following values:",
    single: false,
    imgOne: "/img/values1.jpg",
    imgOneAlt: "Engineer Narvi doing his job",
    imgTwo: "/img/values2.jpg",
    imgTwoAlt: "Narvis engineer supervising an operation",
    items: [
        "Commitment",
        "Responsibility",
        "Efficiency",
        "Professionalism",
        "Integrity",
    ]
  }
];

const pageTitle: string = `About us | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://narvi-ec.com/about",
    url: "https://narvi-ec.com/about",
    name: "About us | Narvi EC",
    description: "",
    isPartOf: {
      "@type": "WebSite",
      url: "https://narvi-ec.com",
      name: "Narvi Enterprise Corporation",
      description:
        "Narvi EC offers engineering and maintenance services throughout the Americas, optimizing your operations in the energy sector.",
    },
    inLanguage: "en-US",
  }}
>
  <!--MainSection is the introductory section of the page, it also contains a CTA button-->
  <MainSection
    label="About us"
    title="Your reliable partner in Oil & Gas"
    backgroundImg="/img/backgorund3.jpg"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <section
      class="fade-up mx-auto mt-10 max-w-[85rem] px-4 py-5 text-pearl-100 md:py-8 2xl:max-w-full"
    >
      <div class="fade-up">
        <div class="flex items-center gap-3">
          <span class="flex h-[10px] w-[10px] rounded-full bg-primary-500"
          ></span>
          <h3 class="text-pearl-100">Description</h3>
        </div>
        <h2
          class="mb-4 mt-4 text-balance text-3xl font-extrabold tracking-tight md:text-4xl"
        >
          Narvi EC's Powering Your Industry
        </h2>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          Thanks to the dedication and professionalism of our team, we position ourselves
          in the market as a reliable choice for your projects.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          We are a responsible and committed company that embraces cutting-edge technologies
          for production improvement.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          NARVI Enterprise Corporation is a leading company specializing in the equipment
          trading, spare parts, and accessories for industrial and energy machinery.
          We provide our clients with a broad selection of options for marketing
          individual pieces of equipment, both new and pre-owned, in addition to
          supplying the essential equipment required for project development.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          Every day, the best minds in the energy industry put to work more than
          hundreds of years of experience to help their clients achieve lasting success.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          At NARVI we have the staff capabilities and vision to meet the needs of
          a challenging and evolving industry. We believe in purposeful innovation
          because we see what others don't and take action. Through business innovation,
          product creation and service delivery, we are dedicated to powering the
          industry that moves the world.
        </p>
      </div>

      {
        aboutItems.map((aboutItem) => {
          return aboutItem.isRightSection ? (
            <RightSection
              id={aboutItem?.id}
              title={aboutItem.title}
              subTitle={aboutItem.subTitle}
              single={aboutItem.single}
              imgOne={aboutItem.imgOne}
              imgOneAlt={aboutItem.imgOneAlt}
              imgTwo={aboutItem.imgTwo}
              imgTwoAlt={aboutItem.imgTwoAlt}
              btnExists={aboutItem.btnExists}
              btnTitle={aboutItem.btnTitle}
              btnURL={aboutItem.btnURL}
              items={aboutItem.items}
            />
          ) : (
            <LeftSection
              id={aboutItem?.id}
              title={aboutItem.title}
              subTitle={aboutItem.subTitle}
              img={aboutItem.img}
              imgAlt={aboutItem.imgAlt}
              btnExists={aboutItem.btnExists}
              btnTitle={aboutItem.btnTitle}
              btnURL={aboutItem.btnURL}
              items={aboutItem.items}
            />
          );
        })
      }
    </section>
  </div>
</MainLayout>
