---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import ProductsSection from "@components/sections/landing/ProductsSection.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import avatar from "@images/avatar.jpg";
import AboutUsSection from "@/components/sections/AboutUsSection.astro";
import BannerSection from "@/components/sections/BannerSection.astro";
import TeleprompterSection from "@/components/sections/landing/TeleprompterSection.astro";
import features from "@data/features.json";
import productsIcons from "@data/products-icons.json";

const avatarSrcs: Array<string> = [avatar.src];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`We supply energy equipment`
    subTitle="<span class='text-primary-400'>Empower</span> your business. <span class='text-primary-400'>Innovate</span> your operations!"
    primaryBtn="Let's get started!    "
    primaryBtnURL="/sales"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
  />

  <!-- <TeleprompterSection
    text="With over 25 years of experience in the Oil and Gas sector, asset management, maintenance, and equipment reliability at an international level, in North American and Latin American countries. We have focused on providing professional services in the engineering of equipment projects, their commercialization, and supply. Our priority is efficiency in every project, we accompany your business goals with innovation and sustainability."
    title="Miguel Mogollón"
    subTitle="CEO and Founder"
  /> -->

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <ClientsSection
      label="Our Clients"
      title="Some of the companies that trust us"
      subTitle="Leaders trust in our products and services"
    />
    <AboutUsSection
      label="About Us"
      title="Your reliable partner in Oil & Gas"
      subTitle="With over 25 years of experience in the Oil and Gas sector, asset management, maintenance, and equipment reliability at an international level, spanning North America and Latin America, we have focused on providing professional services in project engineering for equipment, as well as its commercialization and supply. Our priority is efficiency in every project, supporting your business goals with innovation and sustainability. Thanks to the dedication and professionalism of our team, we can position ourselves in the market as a reliable choice for your projects. We are a responsible and committed company, at the forefront of new technologies that guarantee the efficiency of our results. Best regards from Narvi Enterprise Corporation."
      imgOne="/img/machine-1.jpg"
      imgOneAlt="Oil Driller"
      imgTwo="/img/machine-2.jpg"
      imgTwoAlt="Oil and gas plant"
      btnExists={true}
      btnTitle="Read more"
      btnURL="/about-us"
    />

    <FeaturesGeneral
      label="Products and services"
      title="Innovation and efficiency in every project"
      subTitle="In Narvi Enterprise Corporation, our team of seasoned professionals and industry leaders are committed to surpassing the expectations of our worldwide clientele. With a keen focus on enhancing efficiency and trimming operational expenses, we empower businesses to attain enduring Operational Excellence outcomes. Our team is on hand round-the-clock to assess your unique requirements and partner with you on your journey to success."
      features={features}
    />
  </div>

  <ProductsSection
    title="Latest generation equipment for the oil industry"
    subTitle="Keep your operation at the forefront with our state-of-the-art equipment. Greater efficiency, lower operating costs and increased safety."
    productsIcons={productsIcons}
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <TestimonialsSection
      label="How we work"
      title="Discover how we work"
      subTitle="Want to know why so many companies trust us? Discover the benefits of working with Narvi through our customer testimonials."
      videoUrl="/videos/narvi-video-en.mp4"
      testimonials={[
        {
          content:
            '"Narvi EC is a solid and profitable company. It has been an excellent ally in the commercialization of equipment."',
          author: "Felix Florentino",
          role: "President - Petromex (United States)",
          avatarSrc: "/img/clients/testimonial-3.jpeg",
        },
        {
          content:
            '"It has been key to the undertaking of our project. We started 2 years ago and we continue counting on them."',
          author: "Zenobio Matos",
          role: "Director and General Manager - Exxen Technology do Brasil S.A",
          avatarSrc: "/img/clients/testimonial-2.jpeg",
        },
        {
          content:
            '"Narvi is our great ally in asset management. Helping us in the hundredfold power of our fleet of equipment and special projects of continuous improvement."',
          author: "Jorge Ivan Torres",
          role: "CEO and Director - Innergy OFS S.A.S (Colombia)",
          avatarSrc: "/img/clients/testimonial-1.jpeg",
        },
      ]}
    />
  </div>

  <BannerSection
    imgUrl="/img/woker-1.jpg"
    imgAlt="Worker 1"
    icon="trophy"
    title="25+"
    subtitle="Years of experience"
  />

  <div
    id="faq"
    class="mx-auto max-w-screen-2xl px-4 py-10 sm:px-6 md:py-20 lg:px-8"
  >
    <FAQ
      title="Quick answers to your <br /> questions"
      subTitle="Do you have questions about our services? Here you will find answers to the most frequently asked questions from our clients. If you cannot find what you are looking for, please contact us."
      faqs={faqs}
      label="FAQ"
    />
  </div>
</MainLayout>
