---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featuresTabs from "@data/featuresTabs.json";
import pricing from "@data/pricing.json";
import avatar from "@images/avatar.png";

const avatarSrcs: Array<string> = [
    avatar.src
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Evaluaciones precisas, futuro prometedor.`
    subTitle="TBA: Tu guía para el éxito. Evalúa y automatizar procesos evaluativos"
    primaryBtn="¡Empecemos!"
    primaryBtnURL="/products"
    secondaryBtn="Contactar con ventas"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="El Test Básico de Aprendizaje (TBA) es una herramienta psicopedagógica integral diseñada para evaluar un amplio espectro de variables cognitivas"
  />

  <ClientsSection
    title="Instituciones líderes nos prefieren"
    subTitle="Confianza de líderes en nuestras evaluaciones"
  />

  <!-- <FeaturesGeneral
    title="Capacitar a profesionales y estudiantes de las ciencias cognitivas"
    subTitle="Curso intensivo en diagnóstico de Dificultades Específicas de Aprendizaje (DEA) utilizando el Test Básico de Aprendizaje (TBA). Dirigido a profesionales de la educación, el programa abarca teoría, práctica y análisis de datos. Al finalizar, obtendrás un certificado CEPA."
    src={tbaBook}
    alt="ScrewFast products in floating boxes"
    features={features}
  /> -->

  <FeaturesNavs
    title=`<span class="text-primary-500 dark:text-primary-400">TBA</span> Batería informatizada para evaluaciones automatizadas y análisis profundos.`
    tabs={featuresTabs}
  />

  <TestimonialsSection
    title="Resultados reales con TBA"
    subTitle="En CEPA demostramos nuestra valia, Inspírate con historias reales de superación. Descubre cómo nuestros usuarios han transformado sus vidas gracias a TBA."
    ;
    testimonials={[
      {
        content:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim nunc tellus, sed placerat mauris maximus a. Pellentesque congue odio eget quam fringilla iaculis. Sed purus nisi, faucibus sit amet orci sit amet, ullamcorper maximus orci. ",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "1 Mil+",
        description:
          "Resultados precisos en chile, descubre cómo TBA ha transformado la evaluación educativa.",
      },
      {
        count: "100+",
        description:
          "Profesionales de la educación confían en TBA para optimizar sus evaluaciones.",
      },
      {
        count: "98.4%",
        description:
          "En Test-Retest. La estabilidad de las puntuaciones del TBA demuestra su alta confiabilidad en la evaluación de habilidades.",
      },
      {
        count: "2x",
        description: "Mayor velocidad al momento de cuantificar resultados reales.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Preguntas<br />Frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="¡Trabajemos juntos!"
    subTitle="TBA está para facilitar tus análisis y evaluaciones. El futuro es hoy el futuro es TBA."
    url="/contact"
  />
</MainLayout>
