---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import avatar from "@images/avatar.jpg";
import AboutUsSection from "@/components/sections/AboutUsSection.astro";
import BannerSection from "@/components/sections/BannerSection.astro";
import TeleprompterSection from "@/components/sections/landing/TeleprompterSection.astro";
import features from "@data/features.json";

const avatarSrcs: Array<string> = [avatar.src];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`We supply energy equipment.`
    subTitle="Empower your business. Innovate your operations"
    primaryBtn="Let's get started!    "
    primaryBtnURL="/"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
  />

  <!-- <TeleprompterSection
    text="With over 25 years of experience in the Oil and Gas sector, asset management, maintenance, and equipment reliability at an international level, in North American and Latin American countries. We have focused on providing professional services in the engineering of equipment projects, their commercialization, and supply. Our priority is efficiency in every project, we accompany your business goals with innovation and sustainability."
    title="Miguel Mogollón"
    subTitle="CEO and Founder"
  /> -->



  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
   
    <ClientsSection
    label="Our Clients"
    title="Some of the companies that trust us"
    subTitle="Leaders trust in our products and services"
  />
    <AboutUsSection
      label="About Us"
      title="Your reliable partner in Oil & Gas"
      subTitle="With over 25 years of experience in the Oil and Gas sector, asset management, maintenance, and equipment reliability at an international level, spanning North America and Latin America, we have focused on providing professional services in project engineering for equipment, as well as its commercialization and supply. Our priority is efficiency in every project, supporting your business goals with innovation and sustainability. Thanks to the dedication and professionalism of our team, we can position ourselves in the market as a reliable choice for your projects. We are a responsible and committed company, at the forefront of new technologies that guarantee the efficiency of our results. Best regards from Narvi Enterprise Corporation."
      imgOne="/img/machine-1.jpg"
      imgOneAlt="Oil Driller"
      imgTwo="/img/machine-2.jpg"
      imgTwoAlt="Oil and gas plant"
      btnExists={true}
      btnTitle="Read more"
      btnURL="/"
    />

    <FeaturesGeneral
      label="Products and services"
      title="Innovation and efficiency in every project"
      subTitle="In Narvi Enterprise Corporation, our team of seasoned professionals and industry leaders are committed to surpassing the expectations of our worldwide clientele. With a keen focus on enhancing efficiency and trimming operational expenses, we empower businesses to attain enduring Operational Excellence outcomes. Our team is on hand round-the-clock to assess your unique requirements and partner with you on your journey to success."
      features={features}
    />

    <TestimonialsSection
      label="Customer testimonials"
      title="Discover why our clients choose us"
      subTitle="Want to know why so many companies trust us? Discover the benefits of working with Narvi through our customer testimonials."
      ;
      testimonials={[
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
      ]}
    />
  </div>

  <BannerSection
    imgUrl="/img/woker-1.jpg"
    imgAlt="Worker 1"
    icon="trophy"
    title="25+"
    subtitle="Years of experience"
  />

  <div class="mx-auto max-w-screen-2xl px-4 py-20 sm:px-6 lg:px-8">
    <FAQ
      title="Quick answers to your <br /> questions"
      subTitle="Do you have questions about our services? Here you will find answers to the most frequently asked questions from our clients. If you cannot find what you are looking for, please contact us."
      faqs={faqs}
      label="FAQ"
    />
  </div>
</MainLayout>

<script>


  // let tl = gsap.timeline({
  //   scrollTrigger: {
  //     trigger: ".fade-animation",
  //     scrub: true,
  //     markers: true
  //   }
  // })
  // .set('.fade-animation', {
  //     opacity: 0,
  // })
  // .to('.fade-animation', { 
  //   stagger: .2,
  //   opacity:  1, 
  //   duration: 0.8 
  // })

  // tl.to('.fade-animation', {
  //   x: 800
  // })

  // let fadeAnimation = document.querySelectorAll(".fade-animation");

  // fadeAnimation.forEach((element) => {

  //   gsap.set(element, {
  //     opacity: 0,
  //   });

  //   let timeLine = gsap.timeline();
  //   timeLine.to(element, { opacity: 1, duration: 0.8 });

  //   ScrollTrigger.create({
  //     trigger: element,
  //     start: "top 90%",
  //     toggleActions: "play none none reverse",
  //     animation: timeLine,
  //   });
  // });
</script>
