---
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";

import { SITE } from "@data/constants";
import LeftSection from "@/components/ui/blocks/LeftSection.astro";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";

const pageTitle: string = `Services | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://narvi-ec.com/services",
    url: "https://narvi-ec.com/services",
    name: "Services | Narvi EC",
    description: "Innovative Solutions for Sustainable Business Growth.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://narvi-ec.com",
      name: "Narvi Enterprise Corporation",
      description:
        "Narvi EC offers engineering and maintenance services throughout the Americas, optimizing your operations in the energy sector.",
    },
    inLanguage: "en-US",
  }}
>
  <MainSection
    label="Services"
    title="Innovative Solutions for Sustainable Business Growth"
    backgroundImg="/img/service15.png"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <section class="fade-up mx-auto mt-10 max-w-[85rem] px-4 py-5 md:py-8 text-pearl-100 2xl:max-w-full">
      <div class="fade-up ">
        <div class="flex items-center gap-3">
          <span class="flex h-[10px] w-[10px] rounded-full bg-primary-500"></span>
          <h3 class="text-pearl-100">Description</h3>
        </div>
        <h2 class="mb-4 mt-4 text-balance text-3xl md:text-4xl font-extrabold tracking-tight">
          Narvi EC's Commitment to Operational Efficiency
        </h2>
        <p class="mt-3 mb-4 text-pretty font-light sm:text-lg">
          At Narvi Enterprise Corporation, where our commitment to Operational
          Excellence is at the heart of everything we do. Our seasoned
          professionals lead the industry in innovation, aiming to surpass our
          worldwide clientele's expectations by enhancing efficiency and
          diminishing operational costs. Partner with us for enduring and
          sustainable business solutions.
        </p>
      </div>

    </section>

    <LeftSection
      title="Equipment Trading"
      subTitle="NARVI Enterprise Corporation is a leading company with expertise in the procurement of equipment, spare parts, and accessories for machinery in the Industrial and Energy sectors. We offer our clients a wide range of options to trade individual equipment, both new and used, as well as the necessary equipment for the development and growth of their fleet of machinery."
      img="/img/service22.jpeg"
      imgAlt="Narvis Enterprise company trading team doing market research"
      btnExists={true}
      btnTitle="Contact Sales Team"
      btnURL="/contact"
    />

    <RightSection
      title="Technical Services"
      subTitle="Our team boasts expertise in the industrial and energy sectors' equipment and machinery, possessing robust knowledge to enhance production and efficiency. We are equipped with a professionally trained team ready to provide necessary guidance throughout each procedure."
      single={true}
      imgOne="/img/servcie17.jpg"
      imgOneAlt="Narvis ec technician performing preventive support"
      items={[
        "Installation and Configuration",
        "Preventive Maintenance",
        "Diagnosis and Repair",
        "Update and Improvement",
        "Technical Support",
        "Training",
      ]}
      btnExists={true}
      btnTitle="Contact Sales Team"
      btnURL="/contact"
    />

    <LeftSection
      title="Asset Management"
      subTitle="At NARVI, we redefine asset management by meticulously overseeing the lifecycle of your machinery, equipment, and infrastructure. Our approach ensures peak performance and maximized value from acquisition to disposition. Through strategic planning, precise procurement, operational excellence, and steadfast maintenance, we empower your assets to contribute to your success. Trust NARVI to elevate your asset management experience."
      img="/img/service23.png"
      imgAlt="Narvis staff conducting an Asset Management study"
      btnExists={true}
      btnTitle="Contact Sales Team"
      btnURL="/contact"
      items={[
        "Asset value and performance consulting",
        "Acquisition of reliable assets",
        "Assurance and control in the acquisition of your fleet assets",
        "Assistance in asset administration and management",
      ]}
    />

    <RightSection
      title="Bussines Analysis"
      subTitle="We support your business plan through our expertise in analysis and identification of improvement points in companies, which allows us a detailed view of the trends and statistics of the results."
      single={true}
      imgOne="/img/service21.png"
      imgOneAlt="Narvi marketing specialist holding a meeting"
      imgTwo="/img/product2.jpg"
      imgTwoAlt="Pipeline for transporting oil or gas"
      items={[
        "Identification of areas for improvement",
        "Performance evaluation",
        "Analysis of trends and data",
        "Resource optimization",
        "Implementation of engineering solutions",
      ]}
      btnExists={true}
      btnTitle="Contact Sales Team"
      btnURL="/contact"
    />

    <div class="mb-20">
      <FeaturesStats
        title="By the Numbers"
        subTitle="Our commitment to quality and reliability is evident in every services we provide. At Narvi EC, we are dedicated to delivering industry-leading services that ensure your construction projects are built to last."
        mainStatTitle="96%"
        mainStatSubTitle="of our clients rate their experience with Narvi EC as exceptional"
        stats={[
          {
            stat: "99.8%",
            description: "project completion rate",
          },
          {
            stat: "5,000+",
            description: "successful installations",
          },
          {
            stat: "85%",
            description: "client growth year-over-year",
          },
        ]}
      />
    </div>
  </div>
</MainLayout>
