---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import type { CollectionEntry } from "astro:content";

const {
  imgUrl,
  imgAlt,
  title,
  description,
  url,
  index,
  label = Astro.currentLocale === "es" ? "Saber más" : "Read more",
} = Astro.props;

interface Props {
  imgUrl: any;
  imgAlt: string;
  title: string;
  url: string;
  description: string;
  label?: string;
  index?: number;
}
// Define classes to be used with the Image component
---

<!-- A clickable card that leads to the details of the product-->
<a href={url} data-astro-prefetch class="group">
  <div class="flex flex-col rounded-xl border border-[#244840] text-pearl-100 shadow-sm transition hover:shadow-lg focus:shadow-lg focus:outline-none h-full">

    <div
      class="relative w-full shrink-0 overflow-hidden rounded-t-xl">
      <Image
        width="50"
        height="50"
        src={imgUrl}
        alt={imgAlt}
        draggable={"false"}
        class="h-auto w-full size-full object-cover transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110"
      />
    </div>
    

    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold ">
        {title}
      </h3>
      <p class="mt-1">
        {description}
        <Icon name="openInNew" classCustom="transition duration-[200ms] group-hover:text-primary-500" />
      </p>
    </div>
  </div>
</a>
