---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import type { CollectionEntry } from "astro:content";

const {
  imgUrl,
  imgAlt,
  title,
  description,
  url,
  index,
  label = Astro.currentLocale === "es" ? "Saber más" : "Read more",
} = Astro.props;

interface Props {
  imgUrl: any;
  imgAlt: string;
  title: string;
  url: string;
  description: string;
  label?: string;
  index?: number;
}
// Define classes to be used with the Image component
const imageClass =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<!-- A clickable card that leads to the details of the product-->
<a
  href={"/"}
  data-astro-prefetch
  class="group relative flex h-[28rem] items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
>
  <!-- The product's main image -->
  <Image
  width="50" height="50"
    src={imgUrl}
    alt={imgAlt}
    draggable={"false"}
    class={imageClass}
  />
  <!-- An overlay gradient that sits on top of the product image-->
  <div
    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50"
  >
  </div>
  <!-- The product's subtitle and the anchor SVG icon-->
  <div class="ml-4 relative">
    <h3 class="text-xl font-bold text-primary-400 dark:text-neutral-200 dark:group-hover:text-neutral-400">
      {title}
    </h3>
    <span
      class="mb-3 inline-block font-bold text-md"
      >{description} <Icon name="openInNew" /></span
    >
  </div>
</a>
