---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";
import { environment } from "../../../environments/environment";

// Define the variables that will be used in this component
const formTitle: string =
  "Por favor rellene la información del formulario o contáctenos a través de nuestros otros canales.";
const formSubTitle: string = "Nuestro tiempo de respuesta es de 24 horas.";

// const tokenWeb3forms = "e256344a-5846-48cc-90a2-1c2b4be78326";
const tokenWeb3forms = "97731e64-2e56-4dd5-83c6-d3fa06c23618";

---

<!-- Contact Us -->
<section
  class="mx-auto max-w-[85rem] px-4 pb-10 text-pearl-100 sm:px-6 lg:px-8"
>
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2 class="mb-8 text-xl font-bold">
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <form
          id="formContact"
          action="https://api.web3forms.com/submit"
          method="POST"
          data-astro-reload
        >
          <input type="hidden" name="access_key" value={tokenWeb3forms} />
          <input
            type="checkbox"
            class="hidden"
            style="display:none"
            name="botcheck"
          />
          <div class="grid gap-4">
            <div
              id="success-alert"
              class="relative hidden rounded border border-primary-400 bg-primary-100 px-4 py-3 text-primary-700 opacity-0 transition-all delay-150 duration-300 ease-in-out"
              role="alert"
            >
              <strong class="font-bold">¡Hemos recibido tu solicitud!</strong>
              <span class="block sm:inline"
                >Gracias por contactarnos. Nos pondremos en contacto con usted en breve.</span
              >
            </div>

            <div class="grid grid-cols-1 gap-4">
              <TextInput
                id="hs-firstname-contacts"
                label="Nombre completo"
                name="firstname"
              />
            </div>
            <EmailContactInput id="hs-email-contacts" name="email" />

            <PhoneInput
              id="hs-phone-number"
              label="Número de teléfono. Ejemplo: +1 346 504 9060"
              name="phone"
            />

            <TextAreaInput
              id="hs-about-contacts"
              label="Mensaje"
              name="message"
            />
          </div>

          <div class="mt-4 grid">
            <AuthBtn title="Enviar mensaje" />
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm">
              {formSubTitle}
            </p>
          </div>
        </form>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock heading="Número de teléfono" content="+58 412-783-2848 ">
          <Icon name="phone" classCustom="text-primary-500" />
        </ContactIconBlock>

        <ContactIconBlock heading="Email" content="info@narvi-ec.com"
          ><Icon name="mail" classCustom="text-primary-500" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Preguntas frecuentes"
          content="Explore nuestras preguntas frecuentes para obtener respuestas rápidas y claras a preguntas comunes."
          isLinkVisible={true}
          linkTitle="Visita las preguntas frecuentes"
          linkURL="/#faq"
          isArrowVisible={true}
          ><Icon name="chatBubble" classCustom="text-primary-500" />
        </ContactIconBlock>

        <ContactIconBlock heading="Address" content="Caracas, DC. VEN"
          ><Icon name="location" classCustom="text-primary-500" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>
<script is:inline>
  const form = document.querySelector("#formContact");
  const successAlert = document.querySelector("#success-alert");

  const urlParams = new URLSearchParams(window.location.search);
  const productParam = urlParams.get("product");

  if (productParam) {
    const input = document.createElement("input");
    input.type = "hidden";
    input.name = "product";
    input.value = productParam;
    form.appendChild(input);
  }

  // functions
  const sendSuccess = () => {
    successAlert.classList.remove("hidden");

    setTimeout(() => {
      successAlert.classList.remove("opacity-0");
    }, 100);
  };

  form.addEventListener(
    "submit",
    async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      fetch("https://api.web3forms.com/submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: json,
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            sendSuccess();
          } else {
            console.log(response);
          }
        })
        .catch((error) => {
          console.error(error);
        })
        .then(function () {
          form.reset();
        });
    },
    { once: true },
  );
</script>
