---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesStats from "@components/sections/features/FeaturesStats.astro";

// Import necessary images
import { SITE } from "@data/constants";

interface aboutItem {
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
  items?: string[];
}

const aboutItems: aboutItem[] = [
  {
    isRightSection: false,
    title: "Misión",
    subTitle:
      "Brindar un excelente servicio a todos nuestros clientes, garantizando que sus expectativas se cumplan y superen.",
    img: "/img/mission.jpg",
    imgAlt: "Narvis staff offering advice",
    btnExists: false,
  },
  {
    isRightSection: false,
    title: "Visión",
    subTitle:
      "Ser una empresa reconocida a nivel nacional e internacional por la excelente gestión de los servicios y productos que brindamos a nuestros clientes, con responsabilidad y eficiencia en cada proyecto.",
    img: "/img/vision.jpg",
    imgAlt: "Cargamento de equipo para venta en Narvis llegando al puerto",
    btnExists: false,
  },
  {
    isRightSection: true,
    title: "Valores",
    subTitle:
      "Nuestro equipo está conformado por profesionales altamente capacitados que comparten nuestra pasión por su trabajo. Trabajamos juntos para lograr la excelencia en todo lo que hacemos, de la mano de los siguientes valores:",
    single: false,
    imgOne: "/img/values1.jpg",
    imgOneAlt: "Ingeniero Narvi haciendo su trabajo",
    imgTwo: "/img/values2.jpg",
    imgTwoAlt: "Ingeniero de narvis supervisando una operación",
    items: [
      "Compromiso",
      "Responsabilidad",
      "Eficiencia",
      "Profesionalismo",
      "Integridad",
    ],
  },
];

const pageTitle: string = `About us | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://narvi-ec.com/about",
    url: "https://narvi-ec.com/about",
    name: "About us | Narvi EC",
    description: "",
    isPartOf: {
      "@type": "WebSite",
      url: "https://narvi-ec.com",
      name: "Narvi Enterprise Corporation",
      description:
        "Narvi EC offers engineering and maintenance services throughout the Americas, optimizing your operations in the energy sector.",
    },
    inLanguage: "en-US",
  }}
>
  <!--MainSection is the introductory section of the page, it also contains a CTA button-->
  <MainSection
    label="About us"
    title="Your reliable partner in Oil & Gas"
    backgroundImg="/img/backgorund3.jpg"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <section
      class="fade-up mx-auto mt-10 max-w-[85rem] px-4 py-5 text-pearl-100 md:py-8 2xl:max-w-full"
    >
      <div class="fade-up">
        <div class="flex items-center gap-3">
          <span class="flex h-[10px] w-[10px] rounded-full bg-primary-500"
          ></span>
          <h3 class="text-pearl-100">Descripción</h3>
        </div>
        <h2
          class="mb-4 mt-4 text-balance text-3xl font-extrabold tracking-tight md:text-4xl"
        >
          Narvi EC's Powering Your Industry
        </h2>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          Gracias a la dedicación y profesionalismo de nuestro equipo, nos
          posicionamos en el mercado como una opción confiable para sus
          proyectos.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          Somos una empresa responsable y comprometida que adopta tecnologías de
          vanguardia para la mejora productiva.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          NARVI Enterprise Corporation es una empresa líder especializada en la
          comercialización de equipos, repuestos y accesorios para maquinaria
          industrial y energética. Ofrecemos a nuestros clientes una amplia
          selección de opciones para la comercialización de equipos
          individuales, tanto nuevos como usados, además de suministrar el
          equipo esencial necesario para el desarrollo de proyectos.
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          Cada día, las mejores mentes de la industria energética ponen en
          práctica más de cientos de años de experiencia para ayudar a sus
          clientes a lograr un éxito duradero
        </p>
        <p class="mb-4 mt-3 text-pretty font-light sm:text-lg">
          En NARVI contamos con personal capacitado y con la visión para
          satisfacer las necesidades de una industria desafiante y en evolución.
          Creemos en la innovación con un propósito porque vemos lo que otros no
          ven y tomamos medidas. A través de la innovación empresarial, la
          creación de productos y la prestación de servicios, nos dedicamos a
          impulsar la industria que mueve al mundo.
        </p>
      </div>

      {
        aboutItems.map((aboutItem) => {
          return aboutItem.isRightSection ? (
            <RightSection
              title={aboutItem.title}
              subTitle={aboutItem.subTitle}
              single={aboutItem.single}
              imgOne={aboutItem.imgOne}
              imgOneAlt={aboutItem.imgOneAlt}
              imgTwo={aboutItem.imgTwo}
              imgTwoAlt={aboutItem.imgTwoAlt}
              btnExists={aboutItem.btnExists}
              btnTitle={aboutItem.btnTitle}
              btnURL={aboutItem.btnURL}
              items={aboutItem.items}
            />
          ) : (
            <LeftSection
              title={aboutItem.title}
              subTitle={aboutItem.subTitle}
              img={aboutItem.img}
              imgAlt={aboutItem.imgAlt}
              btnExists={aboutItem.btnExists}
              btnTitle={aboutItem.btnTitle}
              btnURL={aboutItem.btnURL}
              items={aboutItem.items}
            />
          );
        })
      }
    </section>
  </div>
</MainLayout>
