---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/es/faqs.json";
import avatar from "@images/avatar.jpg";
import AboutUsSection from "@/components/sections/AboutUsSection.astro";
import BannerSection from "@/components/sections/BannerSection.astro";
import features from "@data/es/features.json";
import TeleprompterSection from "@/components/sections/landing/TeleprompterSection.astro";
import ProductsSection from "@/components/sections/landing/ProductsSection.astro";
import productsIcons from "@data/es/products-icons.json";


const avatarSrcs: Array<string> = [avatar.src];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Suministramos equipos energéticos`
    subTitle="Impulsa tu negocio. Innova tus operaciones."
    primaryBtn="¡Comencemos!"
    primaryBtnURL="/"
    secondaryBtn="Contactar con ventas"
    secondaryBtnURL="/"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Desde <span class="font-bold">12.8k</span> comentarios`
  />

  <!-- <TeleprompterSection
    text="Con más de 25 años de experiencia en el sector del Oil and Gas, manejo y administración de activos, mantenimiento y confiabilidad de equipos, anivel internacional, en países de Norteamérica y Latinoamérica. Nos hemos enfocado en ofrecer servicios profesionales en la ingeniería de proyectos de equipos, su comercialización y suministro. Nuestra prioridad es la eficacia en cada proyecto, acompañamos tus metas de negocio con innovación y sostenibilidad."
    title="Miguel Mogollón"
    subTitle="Director Ejecutivo y Fundador"
  /> -->
  
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">

    <ClientsSection 
      label="Nuestros clientes"
      title="Algunas de las empresas que confían en nosotros"
      subTitle="Los líderes confían en nuestros productos y servicios"/>

    <AboutUsSection
      label="Sobre nosotros"
      title="Su socio de confianza en la industria del petróleo y gas"
      subTitle="Con más de 25 años de experiencia en el sector de petróleo y gas, gestión de activos, mantenimiento y confiabilidad de equipos a nivel internacional, en países de Norteamérica y Latinoamérica, nos hemos enfocado en brindar servicios profesionales en ingeniería de proyectos para equipos, así como su comercialización y suministro. Nuestra prioridad es la eficiencia en cada proyecto, apoyando tus metas de negocio con innovación y sostenibilidad. Gracias a la dedicación y profesionalismo de nuestro equipo, podemos posicionarnos en el mercado como una opción confiable para tus proyectos. Somos una empresa responsable y comprometida, a la vanguardia de nuevas tecnologías que garantizan la eficiencia de nuestros resultados. Cordiales saludos de Narvi Enterprise Corporation."
      imgOne="/img/machine-1.jpg"
      imgOneAlt="Perforadora de petróleo"
      imgTwo="/img/machine-2.jpg"
      imgTwoAlt="Planta de gas y petróleo"
      btnExists={true}
      btnTitle="Saber más"
      btnURL="/"
    />

    <FeaturesGeneral 
      label="Productos y servicios"
      title="Innovación y eficiencia en cada proyecto"
      subTitle="En Narvi Enterprise Corporation, nuestro equipo de expertos y líderes en cada área, se dedican a superar las expectativas de nuestros clientes globales.Enfocándonos en la eficiencia, reducir los costos operativos, ayudando a las empresas a lograr sostenibles resultados de Excelencia Operacional.Nuestro equipo está disponible 24 horas al día, 7 días a la semana para analizar sus necesidades y acompañarlo hacia el éxito."
      features={features}/>

  </div>

  <ProductsSection 
    title="Equipamiento de última generación para la industria petrolera" 
    subTitle="Mantén tu operación a la vanguardia con nuestros equipos de última generación. Mayor eficiencia, menor costo de operación y mayor seguridad."
    productsIcons={productsIcons}/>

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">

    <TestimonialsSection
      label="Testimonios"
      title="Descubre por qué los clientes nos escogen"
      subTitle="¿Quieres saber por qué tantas empresas confían en nosotros? Descubre los beneficios de trabajar con Narvi a través de los testimonios de nuestros clientes.";
      testimonials={[
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
      ]}
    />
    
  </div>

  <BannerSection
    imgUrl="/img/woker-1.jpg" 
    imgAlt="Worker 1"
    icon="trophy"
    title="25+"
    subtitle="Años de experiencia"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-5">
    <FAQ 
      title="Repuestas rapidas a tus preguntas" 
      subTitle="¿Tienes preguntas sobre nuestros servicios? Aquí encontrarás respuestas a las preguntas más frecuentes de nuestros clientes. Si no encuentras lo que buscas, por favor contáctanos."
      faqs={faqs} 
      label="Preguntas frecuentes"/>
  </div>
</MainLayout>
