---
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";

import { SITE } from "@data/constants";
import LeftSection from "@/components/ui/blocks/LeftSection.astro";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";

const pageTitle: string = `Servicios | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://narvi-ec.com/Servicios",
    url: "https://narvi-ec.com/Servicios",
    name: "Servicios | Narvi EC",
    description:
      "Soluciones innovadoras para el crecimiento empresarial sostenible.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://narvi-ec.com",
      name: "Narvi Enterprise Corporation",
      description:
        "Narvi EC ofrece servicios de ingeniería y mantenimiento en todo el continente americano, optimizando sus operaciones en el sector energético.",
    },
    inLanguage: "en-US",
  }}
>
  <MainSection
    label="Servicios"
    title="Soluciones innovadoras para el crecimiento empresarial sostenible."
    backgroundImg="/img/service15.png"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <section
      class="fade-up mx-auto mt-10 max-w-[85rem] px-4 py-5 md:py-8 text-pearl-100 2xl:max-w-full"
    >
      <div class="fade-up ">
        <div class="flex items-center gap-3">
          <span class="flex h-[10px] w-[10px] rounded-full bg-primary-500"
          ></span>
          <h3 class="text-pearl-100">Descripción</h3>
        </div>
        <h2
          class="mb-4 mt-4 text-balance text-4xl font-extrabold tracking-tight"
        >
          El compromiso de Narvi con la eficiencia operativa
        </h2>
        <p class="mt-3 mb-4 text-pretty font-light sm:text-lg">
          En Narvi Enterprise Corporation, nuestro compromiso con la excelencia
          operativa es el eje central de todo lo que hacemos. Nuestros
          experimentados profesionales lideran la industria en innovación, con
          el objetivo de superar las expectativas de nuestra clientela mundial
          mejorando la eficiencia y disminuyendo los costos operativos. Asóciese
          con nosotros para obtener soluciones comerciales duraderas y
          sostenibles.
        </p>
      </div>
    </section>

    <LeftSection
      id="equipment-trading"
      title="Comercialización de equipos"
      subTitle="NARVI Enterprise Corporation es una empresa líder con experiencia en la adquisición de equipos, repuestos y accesorios para maquinaria en los sectores Industrial y Energético. Ofrecemos a nuestros clientes una amplia gama de opciones para la comercialización de equipos individuales, tanto nuevos como usados, así como los equipos necesarios para el desarrollo y crecimiento de su parque de maquinaria."
      img="/img/service23.jpeg"
      imgAlt="El equipo comercial de la empresa Narvis Enterprise realiza una investigación de mercado"
      btnExists={true}
      btnTitle="Contactar con ventas"
      btnURL="/contact"
    />

    <RightSection
      id="technical-services"
      title="Servicio técnico"
      subTitle="Nuestro equipo cuenta con experiencia en equipos y maquinarias para el sector industrial y energético, con sólidos conocimientos para mejorar la producción y la eficiencia. Contamos con un equipo humano capacitado y preparado para brindar la orientación necesaria en cada procedimiento."
      single={true}
      imgOne="/img/servcie17.jpg"
      imgOneAlt="Técnico de narvis ec realizando apoyo preventivo"
      items={[
        "Instalación y Configuración",
        "Mantenimiento Preventivo",
        "Diagnóstico y Reparación",
        "Actualización y Mejora",
        "Soporte Técnico",
        "Capacitación",
      ]}
      btnExists={true}
      btnTitle="Contactar con ventas"
      btnURL="/contact"
    />

    <LeftSection
      id="asset-management"
      title="Gestión de activos"
      subTitle="En NARVI, redefinimos la gestión de activos mediante la supervisión meticulosa del ciclo de vida de su maquinaria, equipo e infraestructura. Nuestro enfoque garantiza el máximo rendimiento y el valor maximizado desde la adquisición hasta la disposición. A través de la planificación estratégica, la adquisición precisa, la excelencia operativa y el mantenimiento constante, potenciamos sus activos para que contribuyan a su éxito. Confíe en NARVI para mejorar su experiencia en gestión de activos."
      img="/img/service23.png"
      imgAlt="Personal de Narvis realizando un estudio de gestión de activos"
      btnExists={true}
      btnTitle="Contactar con ventas"
      btnURL="/contact"
      items={[
        "Consultoría sobre valor y rendimiento de activo",
        "Adquisición de activos confiable",
        "Garantía y control en la adquisición de sus activos de flota",
        "Asistencia en la administración y gestión de activo",
      ]}
    />

    <RightSection
      id="bussines-analysis"
      title="Análisis de negocio"
      subTitle="Apoyamos su plan de negocio a través de nuestra experiencia en análisis e identificación de puntos de mejora en las empresas, lo que nos permite una visión detallada de las tendencias y estadísticas de los resultados."
      single={true}
      imgOne="/img/service21.png"
      imgOneAlt="Especialista en marketing de Narvi celebrando una reunión"
      items={[
        "Identificación de áreas de mejora",
        "Evaluación del desempeño",
        "Análisis de tendencias y datos",
        "Optimización de recursos",
        "Implementación de soluciones de ingeniería",
      ]}
      btnExists={true}
      btnTitle="Contactar con ventas"
      btnURL="/contact"
    />

    <div class="mb-20">
      <FeaturesStats
        title="En cifras"
        subTitle="Nuestro compromiso con la calidad y la confiabilidad es evidente en todos los servicios que brindamos. En Narvi, nos dedicamos a brindar servicios líderes en la industria que garantizan que sus proyectos de construcción sean duraderos."
        mainStatTitle="96%"
        mainStatSubTitle="de nuestros clientes califican su experiencia con Narvi como excepcional"
        stats={[
          {
            stat: "99.8%",
            description: "tasa de finalización del proyecto",
          },
          {
            stat: "5,000+",
            description: "Instalaciones exitosas",
          },
          {
            stat: "85%",
            description: "Crecimiento de clientes año tras año",
          },
        ]}
      />
    </div>
  </div>
</MainLayout>
